# Dipendenze
node_modules/

# File di configurazione sensibili
.env
*.db
# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
